hydra:
  run:
    dir: ./logging/${now:%Y-%m-%d}/${now:%H-%M-%S}/hydra

global_settings:
  random_seed: 42  # type=int, help="Seed to set the torch random generator for reproducible training runs"
  devices: 
    num: 1  # type=int, help="Number of devices to use during training"
    type: "gpu"  # type=str, help="Type of device to use during training"

logging:
  lightning_log_root: "./logging/${now:%Y-%m-%d}/${now:%H-%M-%S}"  # type=str, help="Root path to output logs files to"

model:
  _target_: stereonet.types_hydra.StereoNetModel
  k_downsampling_layers: 3
  k_refinement_layers: 3
  candidate_disparities: 256

loader:
  batch_size: 1  # type=int, help='Number of examples for data loading.'

training:
  min_epochs: 20  # type=int, help="Number of iterations of training over the full train dataset"
  max_epochs: 50  # type=int, help="Number of iterations of training over the full train dataset"
  optimizer:
    _target_: torch.optim.RMSprop
    lr: 2.54e-4  # type=float, help="Starting learning rate"
    weight_decay: 0.0001
  scheduler:
    _target_: torch.optim.lr_scheduler.ExponentialLR
    gamma: 0.9
  data:
    # - _target_: stereonet.types_hydra.SceneflowData
    #   root_path: "E:\\Sceneflow"  # type=str, help='Path to the root of the Sceneflow depth files'
    #   transforms:
    #     - name: rescale
    #     - name: center_crop
    #       properties:
    #         scale: 0.925  # type=float, help='Center crop percentage to decrease GPU memory'
    - _target_: stereonet.types_hydra.KeystoneDepthData
      root_path: "E:\\Keystone\\projects\\grail\\slowglass\\2-BBox\\annotation_results"  # type=str, help='Path to the root of the Keystone depth files'
      split_ratio: 0.9  # type=float, help='Train:Test split ratio.'
      transforms:
        - _target_: stereonet.transforms.Rescale
        - _target_: stereonet.transforms.CenterCrop
          scale: 0.925  # type=float, help='Center crop percentage to decrease GPU memory'
  debug:
    enabled: False  # type=bool, help="Whether or not to use the following debugging flags"
    limit_train_batches: 10_000  # type=int, help="Debugging, how many batches to train on"

validation:
  data:
    - _target_: stereonet.types_hydra.KeystoneDepthData
      root_path: "E:\\Keystone\\projects\\grail\\slowglass\\2-BBox\\annotation_results"  # type=str, help='Path to the root of the Keystone depth files'
      split_ratio: 0.9  # type=float, help='Train:Test split ratio.'
      transforms:
        - _target_: stereonet.transforms.Rescale
        - _target_: stereonet.transforms.CenterCrop
          scale: 0.925  # type=float, help='Center crop percentage to decrease GPU memory'