cropped\cropped_full_LR\04733L.png,cropped\cropped_full_LR\04733R.png,processed\rectified\disp_info_LR\04733L.exr,processed\rectified\disp_info_LR\04733R.exr
cropped\cropped_full_LR\04771L.png,cropped\cropped_full_LR\04771R.png,processed\rectified\disp_info_LR\04771L.exr,processed\rectified\disp_info_LR\04771R.exr
cropped\cropped_full_LR\04773L.png,cropped\cropped_full_LR\04773R.png,processed\rectified\disp_info_LR\04773L.exr,processed\rectified\disp_info_LR\04773R.exr